a.nupp {
    float: right;
}

.image1{
    width: 650px;
    height: 750px;
    float: right;
}

.tekst2{
    position:relative; left: 50px;
}

#img {
    float: left;
}

#img img {
    display: block;
    max-width: 400px;
    object-fit: contain;
}

#img2 {
    float: left;
}

#img2 img {
    display: block;
    max-width: 400px;
    object-fit: contain;
}