h1{
    color:blue;
    background-color: aliceblue;
    text-align:center;
    border: 5px solid green;
    font-size: 60px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/4199010.jpg);
}

a {
    color: rgb(242, 243, 245);
    font-size: 20px;
  }

#https://images.alphacoders.com/684/684283.jpg