h1{
    color:blue;
    background-color: aliceblue;
    text-align:center;
    border: 5px solid green;
    font-size: 60px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/4199010.jpg);
    font-size: 17px;
    color: rgb(242, 243, 245);
}

.tekst{
    font-family:  "Bradley Hand", cursive;
}

.tekst2{
    font-family:  "Bradley Hand", cursive;
}

.tekst3{
    font-family:  "Bradley Hand", cursive;
}

.tekst4{
    font-family:  "Bradley Hand", cursive;
}

h2{
    color: rgb(242, 243, 245);
    text-decoration-line: underline;
    margin: 0;
    font-size: 30px;
}

a {
    color: rgb(242, 243, 245);
    font-size: 20px;
  }
