.tekst2{
    position:relative; left: 105px;
}

.tekst3{
    position:relative; left: 185px;
}

.tekst4{
    position:relative; left: 225px;
}

.container{
    width: 400px;
    height: 225px;
}

.space3 {
    margin-top: 3200px;
}