a.nupp {
    float: right;
}

.image1{
    width: 650px;
    height: 750px;
    float: right;
}

.tekst2{
    position:relative; left: 105px;
}

.tekst3{
    position:relative; left: 185px;
}

.tekst4{
    position:relative; left: 225px;
}

#img2 {
    float: left;
}

#img2 img {
    display: block;
    max-width: 673px;
    object-fit: contain;
}

iframe{
    width: 620px;
    height: 400px;
    max-width: 620px;
}