#img5 img {
    display: block;
    max-width: 404px;
    object-fit: fill;
}

#img5 {
    float: left;
}

#img3 .teksteri{
    top: 4000px;
    text-align: right;
}

.space3 {
    margin-top: 3300px;
}

h2{
    text-align: left;
}

.tekstsuur{
    font-family:  "Bradley Hand", cursive;
}